*{
    margin: auto;
    padding: 0px;
}

.content{
    background-color:rgba(55, 189, 34, 0.208) ;
    padding: 50px;
    width: 80%;
    margin: auto;
    height: 700px;
    margin-top: 100px;
}
a:hover, a:active {
    font-size: 110%;
    
}

p{
    color: red;

    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
h5{
    background-color: rgb(175, 238, 202);
    border-radius: 10px;
    padding: 20px;  
    width: 100%;
    box-shadow: 5px 5px 10px 2px #8daa83;
}
.img{
    box-shadow:inset;
   box-shadow: 5px 5px 4px 1px rgb(169, 177, 175);
}
footer{
    background-color: rgba(35, 105, 63, 0.741);
    width: 80%;
    height: 100px;
    color: rgb(54, 51, 51);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: auto;
  
}
.quantity-area {
    float: left;
    width: 135px;
    display: flex;
    margin-right: 15px; }
    .quantity-area .qty-btn {
      background: #fff;
      float: left;
      border: 1px solid #e1e1e1;
      cursor: pointer;
      font-weight: 600;
      outline: none;
      height: 45px;
      width: 45px;
      text-align: center;
      border-radius: 0;
      font-size: 20px;
      color: black;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: unset; }
    .quantity-area .quantity-selector {
      background: #fff;
      font-weight: 600;
      height: 45px;
      text-align: center;
      width: 45px;
      border: 1px solid #e1e1e1;
      border-left: none;
      border-right: none;
      border-radius: 0;
      float: left;
      -webkit-appearance: none;
      font-size: 15px;
      color: black;
      padding: 0; }

.wrap-addcart {
flex: 1; }
.row-flex {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px; }
  .row-flex .add-to-cart-style-qv, .row-flex .add-to-cart-style, .row-flex .buynow-style {
    background: black;
    color: rgb(255, 255, 255);
    height: 45px;
    /* width: calc(50% - 15px); */
    width: 150px;
    flex: 0 0 calc(50% - 25px);
    margin-right: 15px;
    display: block;
    max-width: 250px; }
    .row-flex .add-to-cart-style-qv span, .row-flex .add-to-cart-style span, .row-flex .buynow-style span {
      font-weight: bold;
      letter-spacing: .5px; }
    @media (min-width: 992px) {
      .row-flex .add-to-cart-style-qv:hover, .row-flex .add-to-cart-style:hover, .row-flex .buynow-style:hover {
        background: #fff ;
        color: var(--bgshop); } }
  .row-flex .buynow-style {
    background: transparent;
    color: var(--bgshop); 
    background-color: #fff;}
    .row-flex .buynow-style:hover {
      background: black;
      color: #fff; }
  .row-flex .add-to-cart-style-qv {
    width: calc(100% - 15px);
    flex: 0 0 calc(100% - 15px); }

    #header {
        z-index: 3000;
        height: var(--height-head);
        position: fixed;
        left: 0;
        width: 100%;
        top: 0 !important; }
        #header #site-header-center {
          padding: 10px 0;
          background: #fff;
          box-shadow: 0px 0px 3px 0px #ccc;
          min-height: var(--height-head); }
          #header #site-header-center .logo img {
            max-width: 185px;
            display: block; }
           
          @media (min-width: 992px) {
            #header #site-header-center .menu-desk {
              display: flex;
              flex-direction: row;
              justify-content: center;
              position: relative; }
              #header #site-header-center .menu-desk > li {
                padding: 0 15px;
                position: static; } }
         
          @media (min-width: 992px) {
                #header #site-header-center .menu-desk > li > a {
                  font-size: 16px;
                  font-weight: 500;
                  text-transform: unset;
                  padding: 10px 5px;
                  display: block; } }
            
          @media (min-width: 992px) {
                  #header #site-header-center .menu-desk > li > a i {
                    font-size: 10px;
                    font-weight: 300;
                    margin-left: 5px;
                    -webkit-transition: .2s;
                    -moz-transition: .2s;
                    -o-transition: .2s;
                    transition: .2s; }
                
                #header #site-header-center .menu-desk > li.mega-menu:hover > .mega-menu-wrap {
                  -webkit-transform: rotate3d(0, 0, 0, 0deg);
                  -moz-transform: rotate3d(0, 0, 0, 0deg);
                  -o-transform: rotate3d(0, 0, 0, 0deg);
                  -ms-transform: rotate3d(0, 0, 0, 0deg);
                  transform: rotate3d(0, 0, 0, 0deg);
                  visibility: visible; }
                #header #site-header-center .menu-desk > li .mega-menu-wrap {
                  visibility: hidden;
                  position: absolute;
                  width: 100%;
                  left: 0;
                  top: 100%;
                  padding-top: 10px;
                  z-index: 999;
                  -webkit-transform: rotate3d(1, 0, 0, -90deg);
                  -moz-transform: rotate3d(1, 0, 0, -90deg);
                  -o-transform: rotate3d(1, 0, 0, -90deg);
                  -ms-transform: rotate3d(1, 0, 0, -90deg);
                  transform: rotate3d(1, 0, 0, -90deg);
                  -webkit-transform-origin: 0 0 0;
                  -moz-transform-origin: 0 0 0;
                  -o-transform-origin: 0 0 0;
                  -ms-transform-origin: 0 0 0;
                  transform-origin: 0 0 0;
                  -webkit-transition: all .5s ease;
                  -moz-transition: all .5s ease;
                  -o-transition: all .5s ease;
                  transition: all .5s ease; }
                  #header #site-header-center .menu-desk > li .mega-menu-wrap .menu-mega-inner {
                    background: #fff;
                    display: flex;
                    padding: 20px;
                    box-shadow: 0px 2px 5px 0px #ccc;
                    border-top: 2px solid var(--bgshop); }
                    #header #site-header-center .menu-desk > li .mega-menu-wrap .menu-mega-inner > .item-mega-menu {
                      flex: 1; }
                      #header #site-header-center .menu-desk > li .mega-menu-wrap .menu-mega-inner > .item-mega-menu .hd-title-menu > a {
                        font-size: 14px;
                        display: block;
                        padding: 0 7px 10px;
                        padding-right: 0;
                        text-transform: uppercase;
                        font-weight: bold;
                        position: relative; } }
      
          #header #site-header-center .group-icon-header ul {
            display: flex;
            justify-content: flex-end; }
            #header #site-header-center .group-icon-header ul li {
              vertical-align: top;
              width: 40px;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center; }
              #header #site-header-center .group-icon-header ul li a {
                text-decoration: none;
                color: #000;
                display: block;
                position: relative; }
                #header #site-header-center .group-icon-header ul li a svg, #header #site-header-center .group-icon-header ul li a img {
                  width: 20px;
                  height: 20px;
                  fill: #000000; }
              #header #site-header-center .group-icon-header ul li .number-cart, #header #site-header-center .group-icon-header ul li .number-like {
                color: #fff;
                position: absolute;
                background: var(--bgshop);
                width: 15px;
                height: 15px;
                font-size: 10px;
                line-height: 15px;
                border-radius: 50%;
                text-align: center;
                right: -8px;
                bottom: 12px; }   
          #header #site-header-center .btn-menu-mb {
            font-size: 0;
            border: none;
            background: none;
            position: relative;
            z-index: 99; }
      